{% extends 'base.html' %}

{% block content %}
    <h2>Entrar no Sistema</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="POST" action="{{ url_for('login') }}">
                <div class="mb-3">
                    <label for="username" class="form-label">Usuário (admin):</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Senha (1234):</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
{% endblock %}
